/* 

Rik Kendell, UI developer & designer website and blog

Author: Rik Kendell - @Rikki_Sixx
Version: 2.5;
URL: http://www.rikkendell.co.uk/

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. BASE STYLES
2. BASE TYPOGRAPHY & LINKS
3. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
4. CUSTOM LAYOUT & TYPOGRAPHY, INC. MEDIA QUERIES
5. BROWSER AND NON-SEMANTIC STYLING 

*/

/* ==========================================================================
   1. Base styles
   ========================================================================== */


@import url("http://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab:300");

$brand-color: #fff200;
$font-color: #000;

$brand-face: "Roboto Slab", serif;

body {
	background: #fff;
	color: #000;
	letter-spacing: -0.05px; 
}


/* ==========================================================================
   2. Base Typography & Links
   ========================================================================== */

h1, h2,  
.alpha, .beta, .gamma, .delta, .epsilon, .zeta,
.giga, .mega, .kilo {
	font-family: $brand-face;
}
h3, h4, h5, h6 {
	font-family: $base-font-family;
	font-weight: normal;
	letter-spacing: 0;	
}

h1, h2, h3, h4, h5, h6 {
	a { 
		color: $font-color; 
		border: 0;
	}
}
h3, h4 {
	font-weight: bold;
}

a {
	color: $font-color;
	text-decoration: none;
	border-bottom: 1px solid $brand-color;
	&:hover {
		border-bottom: 1px solid $font-color;
		text-decoration: none;
	}
}


/* ==========================================================================
   3. Global layout & Typography
   ========================================================================== */

.container {
	margin: auto;
	max-width: 1100px;
	padding: 1em;
}

.site-header {
	position: relative;
	.logo {
		background: url("../img/logo.png") 0 0 no-repeat transparent;
		float: left;
		height: 62px;
		margin: 0;
		width: 62px;
		a {
			@extend .block-link;
		}
	}
	.menu-button {
		background: #fff;
		border: 0;
		float: right;
	}
}
.main-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
	.nav > li {		
		display: block;
		> a { 
			background: #232323;
			color: #fff;
			display: block; 
		}
	}
	// Seperate media-query for Flexnav breakpoint
	@media screen and (min-width: 800px) {
		position: inherit;
		top: auto;
		left: auto;
		float: right;
		width: auto;
	}
} // .main-menu 

.site-footer {
	background: $brand-color;
	a, a:visited { 
		color: #333;
		border: 0; 
	}

	ul {
		list-style: none;
		margin-left: 0;
	}
}

// Homepage - Projects
.project-item {
	background: #444;
	margin-bottom: 10px;
	width: 100%;
	position: relative;
	header {
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	h3 { 
		background: rgba(0,0,0,0.5);
		@extend .block-link; 
		text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		a {
			color: #fff;
			@extend .block-link;
			padding: 10px;
		}
	}
	img {
		@extend .mobile-image;
		display: block;
		line-height: 0;
	}
}// .project-item

// Blog Archive 
.post-wrap {
	padding: 0.5em 0;
}

.mobile-image {
	width: 100%;
	height: auto;
}
.entry-content, .post-image {
	img {
		@extend .mobile-image;
	}
}

// Post
.post-wrap blockquote p {
	padding: 5%;
	background: #f7f7f7;
}


/* ==========================================================================
   4. Custom layout, inc Media Queries
   ========================================================================== */

// Service Page
.service-list {
	.service { 
		margin-bottom: 1em; 
		&:nth-child(1) h4 { background-position: 0 0; }
		&:nth-child(2) h4 { background-position: 0 -45px; }
		&:nth-child(3) h4 { background-position: 0 -90px; }
		&:nth-child(4) h4 { background-position: 0 -135px; }
		&:nth-child(5) h4 { background-position: 0 -180px; }
	}
	h4 {
		background-image: url("../img/service_icons.png");
		background-repeat: no-repeat;
		min-height: 41px;
		padding: 5px 0 0 50px;
	}	
}
.process,
.testimonial {
	background: #f2f2f2;
}
.process-stages {
	list-style: none;
	margin: 0; 
	li {
		display: inline-block;
		float: left;
		text-align: center;
		width: 50%;
	}
}
.clients ul {
	list-style: none;
	margin-left: 0;
}
.testimonial {
	padding: 1em 2em;
	text-align: center;
	p {
		font-family: $brand-face;
	}
}



// Mobile to Laptop
@media screen and (max-width: $lap-start) {

	.site-footer .foot-item {
		display: none;
		&.foot-address {
			display: inherit;
		}
	}

}

// Laptop and bigger
@media screen and (min-width: $lap-start) {

	.main-menu {
		.nav li a { 
			background: #fff;
			border: 0;
			color: $font-color;
			display: block; 
			&:hover {
				border-bottom: 3px solid $brand-color;
			}
		}
	}

	.foot-item { float: left; }

	.project-item {
		header {
			opacity: 0;
			transition: all 0.5s ease;
			&:hover {
				opacity: 1;
			}
		}
	}

	.post-wrap {
		p, ul, ol, dl, blockquote {
			max-width: 33%;
		}
		blockquote p {
			max-width: 90%;
		}
		img {
			float: right;
			display: block;
			width: 66%;
		}
	}

	// Services
	.service-list {
		.service { float: left; }
	}
	.process-stages {
		li { width: 33%; }
	}
	.clients {
		ul {
			-webkit-columns: 2;
			-moz-columns: 2;
			columns: 2;
		}
	}

	// Studio
	.studio-images-sm { 
		float: left; 
		img:first-child { margin-bottom: 1.5em; }
	}
	.studio-images-lg { float: right; }
	.person {
		.post-content { float: left; }
		.post-image { float: right; }
	}

	// Contact 
	.map-canvas, .address { float: left; }
}

// Desktop and bigger
@media screen and (min-width: $desk-start) {
	.clients {
		ul {
			-webkit-columns: 3;
			-moz-columns: 3;
			columns: 3;
		}
	}
	.process-stages {
		li { width: 16.5%; }
	}
}


/* Non-semantic helpers */

.block-link {
	height: 100%;
	width: 100%;
	display: block;
}
.left { float: left; }
.right { float: right; }

// Hide for both screenreaders and browsers
.hidden { display: none !important; visibility: hidden; }

// Hide only visually, but have it available for screenreaders
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

// Hide visually and from screenreaders, but maintain layout
.invisible { visibility: hidden; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }