/* 

MASH

Author: Rik Kendell - @Rikki_Sixx - http://www.rikkendell.co.uk/
Version: 2
URL: http://www.wearemash.com/

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. BASE STYLES
2. BASE TYPOGRAPHY & LINKS
3. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
4. CUSTOM LAYOUT & TYPOGRAPHY, INC. MEDIA QUERIES
5. BROWSER AND NON-SEMANTIC STYLING 

*/

/* ==========================================================================
   1. Base styles
   ========================================================================== */


@import url("http://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab:300");

$brand-color: #fff200;
$font-color: #000;

$brand-face: "Roboto Slab", serif;

body {
	background: #fff;
	color: #000;
	letter-spacing: -0.05px; 
}

img[width], img[height] {
	max-width: 100% !important;
	height: auto;
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* ==========================================================================
   2. Base Typography & Links
   ========================================================================== */

h1, h2,  
.alpha, .beta, .gamma, .delta, .epsilon, .zeta,
.giga, .mega, .kilo {
	font-family: $brand-face;
	font-weight: 300;
}
h3, h4, h5, h6 {
	font-family: $base-font-family;
	font-weight: normal;
	letter-spacing: 0;	
}

h1, h2, h3, h4, h5, h6 {
	a { 
		color: $font-color; 
		border: 0;
	}
}
h3, h4 {
	font-weight: bold;
}

a {
	color: $font-color;
	text-decoration: none;
	border-bottom: 1px solid $brand-color;
	&:hover {
		border-bottom: 1px solid $font-color;
		text-decoration: none;
	}
}

a.img-link {
	text-decoration: none;
	border: 0;
}


/* ==========================================================================
   3. Global layout & Typography
   ========================================================================== */

.container {
	margin: auto;
	max-width: 1100px;
	padding: 22px;
	@media screen and (min-width: $lap-start) {
		padding: 22px 40px;
	}
}

.site-header {
	position: relative;
	.logo {
		background: url("../img/logo.png") 0 0 no-repeat transparent;
		background-size: cover;
		float: left;
		height: 62px;
		margin: 0;
		width: 62px;
		a {
			@extend .block-link;
			border: 0;
		}
		@media screen and (min-width: $lap-start) {
			height: 78px;
			width: 78px;
		}
	}
	.menu-button {
		background: url("../img/menu-button.svg") no-repeat center right;
		border: 0;
		cursor: pointer;
		display: block;
		padding-right: 3em;
		position: absolute;
		top: 20px;
		right: 20px;
		transition: color 0.5s ease;
		transition-delay: 0.25s;
		z-index: 155;
		&:hover {
			fill: #666;
		}
		&.active {
			fill: #fff;
			&:after {
				content: 'close';
				color: #fff;
			}
		}
		@media screen and (min-width: $lap-start) {
			display: none;
		}
	}
}
.main-menu {	
	top: 0;
	left: 0;
	width: 100%;
	@media screen and (max-width: $lap-start) {
		display: none;
		background: #232323;
		position: absolute;
		text-align: left;
		z-index: 150;
	}
	@media screen and (min-width: $lap-start) {
		display: inherit !important;
		float: right;
		text-align: center;
		width: 85%;
	}
	
	.nav {
		@media screen and (max-width: $lap-start) {
			&:before {
				content: 'Menu';
				padding: 15px 22px;
				color: #fff;
				display: block;
				font-size: 20px;
				font-family: "Roboto Slab", serif;
			}
		}
		@media screen and (min-width: $lap-start) {
			float: right;
			margin: 55px 0 0 0;
			max-width: 500px;
			width: 100%;
		}
		li {		
			display: block;
			@media screen and (max-width: $lap-start) {
				&:nth-child(odd) a {
					background: #191919;
					&:hover {
						background: #343434;
					}
				}
			}
			@media screen and (min-width: $lap-start) {
				display: inline-block;
				width: 20%;
				float: left;				
			}
		}
		a { 		
			border: 0;
			display: block; 
			font-size: 16px;
			@media screen and (max-width: $lap-start) {
				color: #fff;
				background: #232323;
				padding: 10px 22px;				
			}
			@media screen and (min-width: $lap-start) {
				background: #fff;
				font-family: $brand-face;
				font-size: 20px;
				padding: 0;
				color: $font-color;
			}
			&:hover {							
				@media screen and (max-width: $lap-start) {
					background: #343434;
				}
				@media screen and (min-width: $lap-start) {	
					color: #666;
				}
			}
		}
	}

} // .main-menu 

.site-footer {
	background: $brand-color;
	font-family: $brand-face;
	padding: 75px 0 0; 
	h3 {
		font-family: $brand-face;
		font-size: 20px;
		font-weight: 600;
	}
	a, a:visited { 
		color: #333;
		border: 0; 
	}
	ul {
		list-style: none;
		margin-left: 0;
	}
	.copyright {
		margin: 100px 0 0;
	}

	.foot-item {
		width: 100%;
		@media screen and (max-width: $lap-start) {
			display: none;
			&.foot-address {
				display: inherit;
			}
		}
		@media screen and (min-width: $lap-start) {
			width: 50%;
			float: left;
		}
		@media screen and (min-width: $desk-start) {
			width: 20%;
			&.foot-address,
			&.foot-recent {
				width: 30%;
			}
			
		}
	}
}

header h1.entry-title {
	font-size: 20px;
	@media screen and (min-width: $lap-start) {
		font-size: 38px;
	}
	@media screen and (min-width: $desk-start) {
		font-size: 42px;
	}
}
header .entry-title,
.strap {
	font-family: $brand-face;
	font-weight: 300;
}



/* ==========================================================================
   4. Custom layout, inc Media Queries
   ========================================================================== */

// Homepage 
.strap {
	max-width: 660px;
}

.project-item {
	width: 100%;
	position: relative;
	margin-bottom: 22px; 
	@media screen and (min-width: $lap-start) {
		margin-bottom: 10px;
		width: 49%;
		&:nth-child(odd) {
			margin-right: 1%;
		}
		&:nth-child(even) {
			margin-left: 1%;
		}
	}
	@media screen and (min-width: $desk-start) {	
		margin: 0 0 10px !important;	
		padding: 0 1% 0 0;
		overflow: hidden;

		&.featured {
			width: 65.66%;
			padding: 0 !important;
			img {
				max-height:506px;
			}
		}
	}
	.entry-content {
		background: #000;
	}
	
	header {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;		
	}
	img {
		@extend .mobile-image;
		display: block;
		line-height: 0;
		transition: all 0.5s ease;
		opacity: 1;
		transition: all 0.5s ease;
	}
	&:hover {
		img {
			opacity: 0.6;
		}		
		.service-performed { opacity: 1; }
		h3 a span {
			opacity: 1;
		}	
	}
	
	h3 { 
		text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		padding: 20px;	
		@extend .block-link; 
		a {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			padding: 20px;
			color: #fff;			
			&:hover { border: 0; }
			span { 
				opacity: 0; 
				transition: opacity 0.5s ease;
			}
		}
	}
	.service-performed {
		text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		color: #fff;
		padding: 10px 20px 0;
		opacity: 0;
		transition: opacity 0.5s ease;
		position: absolute;
		top: 60px;
		a { color: #fff; }
	}


}// .project-item


// Work Page
.sub-menu {
	font-family: $brand-face;
	@media screen and (min-width: $lap-start) {
		font-size: 20px;
	}
	.cat-item {
		padding-right: 5px;
	}
	@media screen and (min-width: $lap-start) {
		.cat-item:before {
			content: ' / ';
			padding-right: 5px;
		}
		.cat-item:first-child:before {
			content: none;
		}
	}
}

// Blog Archive 
.post-wrap {
	.post-img-wrap {
		img { 
			margin-bottom: 1em;
			max-width: 100%;
			height: auto;
		}
	}

	@media screen and (min-width: $desk-start) {
		blockquote p {
			max-width: 90%;
		}

		.post-content-wrap {
			float: left;
			width: 33%;
		}
		.post-img-wrap {
			float: right;
			width: 66%;
			a { border: 0; }
			img { margin-bottom: 1em; }
		}
	}
}

.mobile-image {
	width: 100%;
	height: auto;
}
.entry-content, .post-image {
	img {
		@extend .mobile-image;
	}
}

// Post
.post-wrap blockquote p {
	padding: 5%;
	background: #f7f7f7;
}


// Service Page
.service-list {
	.service { 
		margin-bottom: 1em; 
		&:nth-child(1) h4 { background-position: 0 0; }
		&:nth-child(2) h4 { background-position: 0 -45px; }
		&:nth-child(3) h4 { background-position: 0 -90px; }
		&:nth-child(4) h4 { background-position: 0 -135px; }
		&:nth-child(5) h4 { background-position: 0 -180px; }
		@media screen and (min-width: $lap-start) {
			float: left;
		}
	}
	h4 {
		background-image: url("../img/service_icons.png");
		background-repeat: no-repeat;
		min-height: 41px;
		padding: 5px 0 0 50px;
	}	
}
.process,
.testimonial {
	background: #f2f2f2;
}
.process-stages {
	list-style: none;
	margin: 0; 
	li {
		display: inline-block;
		float: left;
		text-align: center;
		width: 50%;
		@media screen and (min-width: $lap-start) {
			width: 33%;
		}
		@media screen and (min-width: $desk-start) {
			width: 16.5%;
		}
	}
}

.clients ul {
	list-style: none;
	margin-left: 0;
	@media screen and (min-width: $lap-start) {
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
	}
	@media screen and (min-width: $desk-start) {
		-webkit-columns: 3;
		-moz-columns: 3;
		columns: 3;
	}
}
.testimonial {
	padding: 1em 2em;
	text-align: center;
	p {
		font-family: $brand-face;
	}
}


// Studio Page 
.studio-images-sm,
.studio-images-lg {
	img { width: 100%; height: auto; }
}

.studio-images-sm {
	@media screen and (min-width: $lap-start) {	 	
			float: left; 
			img:first-child { margin-bottom: 1.5em; }
	}
}
.studio-images-lg { 
	@media screen and (min-width: $lap-start) {	
		float: right; 
	}
}

.staff { margin-top: 2em; }
.person {
	@media screen and (min-width: $lap-start) {	
		.post-content { float: left; }
		.post-image { float: right; }
	}
}

// Contact 
.intro, 
.address,
.contact-imgs { 
	@media screen and (min-width: $lap-start) {	
		float: left; 
	}
}
.map-canvas {
	margin-bottom: 1em;
	@media screen and (min-width: $lap-start) {	
		margin: 0;
		float: right;
	}
}


/* Non-semantic helpers */

.block-link {
	height: 100%;
	width: 100%;
	display: block;
}
.left { float: left; }
.right { float: right; }

// Hide for both screenreaders and browsers
.hidden { display: none !important; visibility: hidden; }

// Hide only visually, but have it available for screenreaders
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

// Hide visually and from screenreaders, but maintain layout
.invisible { visibility: hidden; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }